<h1>All Journal Entries</h1>

<% @user_journal_entries.each do |journal_entry| %>
    <h5><a href="/journal_entries/<%= journal_entry.id %>"><%= journal_entry.date %></a></h5>
    <p>By <%= journal_entry.user.name %></p>
<% end %>