<h1>New Journal Entry<h1>
<form method="POST" action="/journal_entries">
    <h3>Today's Date:</h3>
    <input type="text" name="date" placeholder="date">
    <br>
    <textarea id="content" name="content" placeholder="How was your day?"></textarea>
    <br>
    <input type="submit" value="Done">
</form>
