<h1>New Journal Entry<h1>
<form class="journal_form" method="POST" action="/journal_entries">
    <label class="journal_date" for="date">Today's Date </label>
    <br>
    <input class="journal_date_input" type="text" name="date" placeholder="date">
    <br>
    <label class="journal_content" for="content">Content </label>
    <textarea id="content" name="content" placeholder="How was your day?" rows=10></textarea>
    <br>
    <input class="journal_submit" type="submit" value="Done">
</form>
