<h1><%= @journal_entry.date %></h1>

<p><i><%= @journal_entry.content %></i></p>

<% if current_user == @journal_entry.user %>
    <a class="edit_journal_entry_link" href="/journal_entries/<%= @journal_entry.id %>/edit">Edit Entry</a>
    <br><br>
    <form method="POST" action="/journal_entries/<%= @journal_entry.id %>"> 
        <input type="hidden" name="_method" value="DELETE">
        <input class="delete_journal_entry_submit" type="submit" value="Delete This Entry">
    </form>
<% end %> 
 