<h1>My Daily Journal</h1>
<h4>Have the ability to journal anywhere you go! This web application allows the user to create, edit, and delete their journals as well as have access to all of the journal entries they've written. Journaling is a great way a user can take some time to reflect on their day, therefore, serving as an aide to improving their mental health.</h4>
<br><br>
<h3>Welcome! If you're back to write more <a href="/login">login here</a>.</h3>

<h3>If this is your first time, <a href="/signup">sign up here</a>.</h3>