<h1>My Daily Journal</h1>

<h4 class ="summary">Welcome to My Daily Journal! Have the ability to journal anywhere you go! Journaling is a great way you can take some time to reflect on your day. It serves as a way you can improve your mental health and take some time out of your busy day to relax.</h4>
<h3>If you're back to write more <a class="login" href="/login">login here</a>.</h3>

<h3>If this is your first time <a class="signup" href="/signup">sign up here</a>.</h3>