<h1>Welcome Back!</h1>
<h3>Log in below to start writing</h3>

<form method="POST" action="/login">
    <input type="text" name="name" palceholder="Full Name">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="log In">
</form>