<h1>Welcome Back!</h1>
<h3>Log in below to start writing</h3>
<%= @errors %>
<form method="POST" action="/login">
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br><br>
    <input type="submit" value="log In">
</form>
<br><br>
<a href="/">Home Page</a>