<h1>Welcome to Your Journal!</h1>
<p>If you want to get to writing, please click on <b>"Create Journal Entry".</b></p>
<p>If you want to get to edit a previous journal, click on <b>"All Journal Entries"</b> and then click on the entry you would like to edit.</p>
<a href='/logout'>Log Out</a>